.lst-kix_low3jzuxxcpr-2>li:before {
    content: "\0025a0   "
}

.lst-kix_low3jzuxxcpr-0>li:before {
    content: "\0027a2   "
}

.lst-kix_low3jzuxxcpr-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_kzdyv5p1xfnr-1 {
    list-style-type: none
}

ul.lst-kix_kzdyv5p1xfnr-2 {
    list-style-type: none
}

.lst-kix_low3jzuxxcpr-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_kzdyv5p1xfnr-0 {
    list-style-type: none
}

.lst-kix_low3jzuxxcpr-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_kzdyv5p1xfnr-5 {
    list-style-type: none
}

ul.lst-kix_kzdyv5p1xfnr-6 {
    list-style-type: none
}

ul.lst-kix_kzdyv5p1xfnr-3 {
    list-style-type: none
}

ul.lst-kix_kzdyv5p1xfnr-4 {
    list-style-type: none
}

.lst-kix_low3jzuxxcpr-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_kzdyv5p1xfnr-7 {
    list-style-type: none
}

.lst-kix_76fhoeovryar-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_kzdyv5p1xfnr-8 {
    list-style-type: none
}

.lst-kix_low3jzuxxcpr-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_21ml29hxaduu-6 {
    list-style-type: none
}

ul.lst-kix_21ml29hxaduu-5 {
    list-style-type: none
}

ul.lst-kix_21ml29hxaduu-8 {
    list-style-type: none
}

ul.lst-kix_21ml29hxaduu-7 {
    list-style-type: none
}

ul.lst-kix_21ml29hxaduu-2 {
    list-style-type: none
}

ul.lst-kix_21ml29hxaduu-1 {
    list-style-type: none
}

ul.lst-kix_21ml29hxaduu-4 {
    list-style-type: none
}

ul.lst-kix_21ml29hxaduu-3 {
    list-style-type: none
}

ul.lst-kix_21ml29hxaduu-0 {
    list-style-type: none
}

ul.lst-kix_6du3f471ykez-7 {
    list-style-type: none
}

.lst-kix_21ml29hxaduu-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_6du3f471ykez-6 {
    list-style-type: none
}

.lst-kix_21ml29hxaduu-2>li:before {
    content: "\0025a0   "
}

.lst-kix_21ml29hxaduu-4>li:before {
    content: "\0025cb   "
}

.lst-kix_6du3f471ykez-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_6du3f471ykez-8 {
    list-style-type: none
}

.lst-kix_21ml29hxaduu-0>li:before {
    content: "\0027a2   "
}

.lst-kix_21ml29hxaduu-8>li:before {
    content: "\0025a0   "
}

.lst-kix_6du3f471ykez-4>li:before {
    content: "\0025cb   "
}

.lst-kix_21ml29hxaduu-1>li:before {
    content: "\0025cb   "
}

.lst-kix_6du3f471ykez-3>li:before {
    content: "\0025cf   "
}

.lst-kix_klzvv9wt4lzt-1>li:before {
    content: "\0025cb   "
}

.lst-kix_klzvv9wt4lzt-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_low3jzuxxcpr-0 {
    list-style-type: none
}

ul.lst-kix_low3jzuxxcpr-1 {
    list-style-type: none
}

.lst-kix_klzvv9wt4lzt-4>li:before {
    content: "\0025cb   "
}

.lst-kix_6du3f471ykez-5>li:before {
    content: "\0025a0   "
}

.lst-kix_klzvv9wt4lzt-3>li:before {
    content: "\0025cf   "
}

.lst-kix_klzvv9wt4lzt-6>li:before {
    content: "\0025cf   "
}

.lst-kix_21ml29hxaduu-7>li:before {
    content: "\0025cb   "
}

.lst-kix_21ml29hxaduu-6>li:before {
    content: "\0025cf   "
}

.lst-kix_6du3f471ykez-6>li:before {
    content: "\0025cf   "
}

.lst-kix_21ml29hxaduu-5>li:before {
    content: "\0025a0   "
}

.lst-kix_klzvv9wt4lzt-5>li:before {
    content: "\0025a0   "
}

.lst-kix_6du3f471ykez-7>li:before {
    content: "\0025cb   "
}

.lst-kix_ly0ge5kkth94-0>li:before {
    content: "\0025cf   "
}

.lst-kix_ly0ge5kkth94-1>li:before {
    content: "\0025cb   "
}

.lst-kix_76fhoeovryar-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_low3jzuxxcpr-6 {
    list-style-type: none
}

ul.lst-kix_low3jzuxxcpr-7 {
    list-style-type: none
}

.lst-kix_ly0ge5kkth94-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_low3jzuxxcpr-8 {
    list-style-type: none
}

ul.lst-kix_low3jzuxxcpr-2 {
    list-style-type: none
}

.lst-kix_76fhoeovryar-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_low3jzuxxcpr-3 {
    list-style-type: none
}

.lst-kix_ly0ge5kkth94-2>li:before {
    content: "\0025a0   "
}

.lst-kix_ly0ge5kkth94-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_low3jzuxxcpr-4 {
    list-style-type: none
}

.lst-kix_76fhoeovryar-0>li:before {
    content: "\0027a2   "
}

ul.lst-kix_low3jzuxxcpr-5 {
    list-style-type: none
}

.lst-kix_6du3f471ykez-2>li:before {
    content: "\0025a0   "
}

.lst-kix_76fhoeovryar-7>li:before {
    content: "\0025cb   "
}

.lst-kix_low3jzuxxcpr-8>li:before {
    content: "\0025a0   "
}

.lst-kix_klzvv9wt4lzt-0>li:before {
    content: "\0027a2   "
}

.lst-kix_6du3f471ykez-1>li:before {
    content: "\0025cb   "
}

.lst-kix_low3jzuxxcpr-7>li:before {
    content: "\0025cb   "
}

.lst-kix_76fhoeovryar-6>li:before {
    content: "\0025cf   "
}

.lst-kix_76fhoeovryar-3>li:before {
    content: "\0025cf   "
}

ul.lst-kix_6du3f471ykez-1 {
    list-style-type: none
}

ul.lst-kix_6du3f471ykez-0 {
    list-style-type: none
}

.lst-kix_6du3f471ykez-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_6du3f471ykez-3 {
    list-style-type: none
}

.lst-kix_76fhoeovryar-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_6du3f471ykez-2 {
    list-style-type: none
}

ul.lst-kix_6du3f471ykez-5 {
    list-style-type: none
}

.lst-kix_76fhoeovryar-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_6du3f471ykez-4 {
    list-style-type: none
}

.lst-kix_yz4vr8zg4qqu-3>li:before {
    content: "\0025cf   "
}

.lst-kix_yz4vr8zg4qqu-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_klzvv9wt4lzt-0 {
    list-style-type: none
}

ul.lst-kix_klzvv9wt4lzt-1 {
    list-style-type: none
}

.lst-kix_yz4vr8zg4qqu-4>li:before {
    content: "\0025cb   "
}

.lst-kix_kzdyv5p1xfnr-8>li:before {
    content: "\0025a0   "
}

.lst-kix_yz4vr8zg4qqu-1>li:before {
    content: "\0025cb   "
}

.lst-kix_kzdyv5p1xfnr-5>li:before {
    content: "\0025a0   "
}

.lst-kix_kzdyv5p1xfnr-7>li:before {
    content: "\0025cb   "
}

.lst-kix_yz4vr8zg4qqu-2>li:before {
    content: "\0025a0   "
}

.lst-kix_kzdyv5p1xfnr-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_yz4vr8zg4qqu-7 {
    list-style-type: none
}

ul.lst-kix_ly0ge5kkth94-3 {
    list-style-type: none
}

ul.lst-kix_yz4vr8zg4qqu-6 {
    list-style-type: none
}

ul.lst-kix_ly0ge5kkth94-2 {
    list-style-type: none
}

.lst-kix_ly0ge5kkth94-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_ly0ge5kkth94-5 {
    list-style-type: none
}

ul.lst-kix_yz4vr8zg4qqu-8 {
    list-style-type: none
}

ul.lst-kix_ly0ge5kkth94-4 {
    list-style-type: none
}

ul.lst-kix_yz4vr8zg4qqu-3 {
    list-style-type: none
}

ul.lst-kix_yz4vr8zg4qqu-2 {
    list-style-type: none
}

ul.lst-kix_yz4vr8zg4qqu-5 {
    list-style-type: none
}

ul.lst-kix_ly0ge5kkth94-1 {
    list-style-type: none
}

ul.lst-kix_yz4vr8zg4qqu-4 {
    list-style-type: none
}

.lst-kix_yz4vr8zg4qqu-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_ly0ge5kkth94-0 {
    list-style-type: none
}

ul.lst-kix_klzvv9wt4lzt-4 {
    list-style-type: none
}

.lst-kix_ly0ge5kkth94-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_klzvv9wt4lzt-5 {
    list-style-type: none
}

ul.lst-kix_yz4vr8zg4qqu-1 {
    list-style-type: none
}

ul.lst-kix_klzvv9wt4lzt-2 {
    list-style-type: none
}

ul.lst-kix_yz4vr8zg4qqu-0 {
    list-style-type: none
}

.lst-kix_yz4vr8zg4qqu-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_klzvv9wt4lzt-3 {
    list-style-type: none
}

ul.lst-kix_ly0ge5kkth94-7 {
    list-style-type: none
}

ul.lst-kix_klzvv9wt4lzt-8 {
    list-style-type: none
}

.lst-kix_ly0ge5kkth94-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_ly0ge5kkth94-6 {
    list-style-type: none
}

.lst-kix_ly0ge5kkth94-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_klzvv9wt4lzt-6 {
    list-style-type: none
}

.lst-kix_yz4vr8zg4qqu-6>li:before {
    content: "\0025cf   "
}

ul.lst-kix_ly0ge5kkth94-8 {
    list-style-type: none
}

ul.lst-kix_klzvv9wt4lzt-7 {
    list-style-type: none
}

.lst-kix_klzvv9wt4lzt-8>li:before {
    content: "\0025a0   "
}

.lst-kix_klzvv9wt4lzt-7>li:before {
    content: "\0025cb   "
}

.lst-kix_kzdyv5p1xfnr-1>li:before {
    content: "\0025cb   "
}

.lst-kix_kzdyv5p1xfnr-3>li:before {
    content: "\0025cf   "
}

.lst-kix_kzdyv5p1xfnr-0>li:before {
    content: "\0027a2   "
}

.lst-kix_kzdyv5p1xfnr-4>li:before {
    content: "\0025cb   "
}

.lst-kix_yz4vr8zg4qqu-0>li:before {
    content: "\0027a2   "
}

.lst-kix_kzdyv5p1xfnr-2>li:before {
    content: "\0025a0   "
}

ul.lst-kix_76fhoeovryar-2 {
    list-style-type: none
}

ul.lst-kix_76fhoeovryar-1 {
    list-style-type: none
}

ul.lst-kix_76fhoeovryar-0 {
    list-style-type: none
}

ul.lst-kix_76fhoeovryar-6 {
    list-style-type: none
}

ul.lst-kix_76fhoeovryar-5 {
    list-style-type: none
}

ul.lst-kix_76fhoeovryar-4 {
    list-style-type: none
}

ul.lst-kix_76fhoeovryar-3 {
    list-style-type: none
}

ul.lst-kix_76fhoeovryar-8 {
    list-style-type: none
}

ul.lst-kix_76fhoeovryar-7 {
    list-style-type: none
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}


table td,
table th {
    padding: 0
}

.c0 {
    background-color: #ffffff;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11.5pt;
    font-family: "Arial";
    font-style: normal
}

.c10 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Arial";
    font-style: italic
}

.c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c8 {
    color: #000000;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Arial";
    font-style: normal
}

.c1 {
    background-color: #ffffff;
    font-size: 11.5pt;
    font-style: italic;
    font-weight: 700
}

.c14 {
    background-color: #ffffff;
    max-width: 80vw;
    padding: 72pt 72pt 72pt 72pt;
    max-height: 40vh;
    overflow-y: scroll;
}

.c12 {
    margin-left: 0pt;
    padding-left: 0pt
}

.c5 {
    background-color: #ffffff;
    font-size: 11.5pt
}

.c15 {
    font-size: 14pt;
    font-style: italic
}

.c7 {
    padding: 0;
    margin: 0
}

.c11 {
    margin-left: 22.5pt;
    padding-left: 0pt
}

.c3 {
    margin-left: -4.5pt;
    padding-left: 0pt
}

.c13 {
    font-size: 11pt
}

.c9 {
    font-size: 18pt
}

.c6 {
    font-weight: 700
}

.c4 {
    height: 11pt
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}
